<div class="gastos-container">
  <div class="header-actions">
    <div class="title-group">
      <h2>Listado de Gastos Variables</h2>
      <button class="btn-nuevo-gasto" (click)="mostrarFormulario.set(!mostrarFormulario())">
        @if (!mostrarFormulario()) {
          <span>+ Nuevo Gasto</span>
        } @else {
          <span>✕ Cancelar</span>
        }
      </button>
    </div>
    
    <div class="date-filters">
      <select [(ngModel)]="mesSeleccionado" (change)="onFechaChange()">
        <option [value]="1">Enero</option>
        <option [value]="2">Febrero</option>
        <option [value]="3">Marzo</option>
        </select>

      <select [(ngModel)]="anioSeleccionado" (change)="onFechaChange()">
        <option [value]="2025">2025</option>
        <option [value]="2026">2026</option>
      </select>
    </div>
  </div>

  @if (mostrarFormulario()) {
    <div class="form-card animate-in">
      <div class="form-grid">
        <div class="input-field">
          <label>Fecha</label>
          <input type="date" [(ngModel)]="nuevoGasto.fechaGasto">
        </div>
        <div class="input-field">
          <label>Comercio</label>
          <input type="text" [(ngModel)]="nuevoGasto.comercio" placeholder="Ej: Zara, Shell...">
        </div>
        <div class="input-field">
          <label>Importe</label>
          <input type="number" [(ngModel)]="nuevoGasto.cantidad" placeholder="0.00">
        </div>
        <div class="input-field">
          <label>Nota</label>
          <input type="text" [(ngModel)]="nuevoGasto.descripcion" placeholder="Opcional">
        </div>
        <button class="btn-save" (click)="guardarGasto()">✓ Guardar</button>
      </div>
    </div>
  }

  </div>